/*  YARTISTA HOME CSS  */

.headerBg {
    background: url("../img/header_bg.png") repeat-x;
    height: 450px;
}

.contentWrapper {
    background: url("../img/content_bg.png") repeat;
    padding-bottom: 24px;
    padding-top: 20px;
}

.panels {
    background-color: #2a0000;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: solid 1px #190000;
    border-bottom: solid 1px #190000;
    min-height: 330px;
}

.content {
    background: url("../img/albums_bg.png") repeat;
    height: 409px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bannerBox {
    background-image: url("../img/banner.jpg");
    height: 389px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;;
}

.topBar {
    /*background-color: #350e0e;*/
    background: rgba(0, 0, 0, 0.1);
    height: 34px;
    padding-top: 1px;
}

.likeBox {
    height: 34px;
}

.registerBox {
    height: 34px;
    font-size: 14px;
    color: #ffab87;
    padding-top: 5px;
}

.registerBox a {
    color: #ffab87;
    text-decoration: underline;
}

.registerBox a :visited {
    color: #ffab87;
    text-decoration: underline;
}

.loginBox {
    height: 34px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.loginBoxInput {
    font-size: 13px;
    padding: 2px 2px 2px 2px;
    width: 150px;
    height: 20px;
    border: 1px solid #e7b4a4;
    /*-moz-border-radius: 5px;*/
    /*-webkit-border-radius: 5px;*/
    border-radius: 5px;
    background-color: #cc8e7c;
    margin-top: 2px;
    float: left;
}

.loginButton {
    background: url("../img/keep_in_touch_btn.gif") transparent no-repeat;
    height: 29px;
    width: 106px;
    border-style: none;
    float: left;
    margin-left: 15px;
}

.topCarousel {
    height: 354px;
}

/* --------- MAIN MENU --------- */
.mainMenu {
    background-color: #9a3a1c;
    height: 66px;
}

.mainMenuButton {
    background: transparent no-repeat;
    height: 66px;
    float: left;;
    border: none;
}

.mainMenu img {
    float: left;
}

.menuHomeBtn {
    background-image: url("../img/menu_home.png");
    width: 76px;
}

.menuMusicBtn {
    background-image: url("../img/menu_music.png");
    width: 89px;
}

.menuYartBtn {
    background-image: url("../img/menu_yartists.png");
    width: 110px;
}

.menuCompBtn {
    background-image: url("../img/menu_compositors.png");
    width: 131px;
}

.menuProjBtn {
    background-image: url("../img/menu_projects.png");
    width: 116px;
}

.menuBlogBtn {
    background-image: url("../img/menu_blog.png");
    width: 80px;
}

.menuContactBtn {
    background-image: url("../img/menu_contact_us.png");
    width: 125px;
}

/* -------- ALBUMS & PLAYER ----- */
.player {
    height: 400px;
}

.tab {
    height: 35px;
    background-color: #7fffd4;
}

.tabContent {
    height: 400px;
}

/*--------BOTTOM PANELS ---------*/
.panel {
    min-height: 330px;
    margin-bottom: 20px;
}

.panelEntryDivider {
    width: 290px;
    height: 2px;
    float: left;
    background: url("../img/panel_entry_divider.png") no-repeat;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* --------- TWEETS ------------ */
.tweet {
    min-height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    float: left;
}

.tweet p {
    color: #bcbbbb;
    margin-bottom: 7px;
}

.tweetAuthor {
    font-weight: bold;
    color: #ffffff;
}

.tweetTimestamp {
    color: #6e6c6d;
    vertical-align: middle;
}

.tweetTimestamp img {
    margin-right: 5px;
}

.openTweetLink {
    color: #6e6c6d;
    text-decoration: underline;
    margin-left: 20px;
}

.openTweetLink :visited {
    color: #6e6c6d;
    text-decoration: underline;
}

/* --------- BLOG ENTRY ------------ */

.blogEntry {
    min-height: 80px;
    font-size: 12px;
    color: #6e6c6d;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.blogEntry img {
    border: solid 2px #ffffff;
    text-align: right;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blogEntry a {
    float: right;
}

.blogTitle {
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* --- panel -----*/

.panelHeader {
    min-height: 30px;
    width: 100%;
    background-color: #380404;
    margin-bottom: 15px;
    float: left;
}

.panelHeader img {
    margin: 0 0;
}

.panelLink {
    color: #f0810e;
    font-weight: bold;
}

/* ---- latest project ---- */

.latestProject {
    min-height: 245px;
}

.latestProject a {
    float: right;
}

.project {
    margin: 7px 7px 7px 7px;
    border: solid 2px #ffffff;

}

/* ---- social networks ---- */

.socialNetworkBox {
    margin-top: 15px;
    height: 80px;
}

.socialNetworkIcon {
    margin-left: 7px;
}

/* ---- footer --- */
.footer {
    font-size: 12px;
    color: #cd7256;
    height: 35px;
    border-top: solid 2px #3e170b;
    border-bottom: solid 2px #3e170b;
    background-color: #9a3a1c;
    padding-top: 15px;
}

#footerText {
    padding-top: 5px;
    float: left;

}

#footerCopyright {
    padding-top: 5px;
    float: right;
}